<!doctype html>
<html lang="en">
  <%- include("head.ejs") %>
  <body>
    <main>
        <h1 class=""><img class="logo" src="/assets/img/logo.png"/></h1>
      
        
      
        <div class="b-example-divider"></div>
      
        <div class="container px-4 py-5" id="hanging-icons">
          <h2 class="pb-2 border-bottom">Introduction</h2>
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
              <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
              </div>
              <div>
                <h2>The Author</h2>
                <p>My name is Steve Lee [ Le Minh Hoang ], Currently I living HCM City.</p>
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100015561036994" class="btn btn-primary">
                  Facebook profile
                </a>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
              </div>
              <div>
                <h2>Why?</h2>
                <p>Express type appear to us can use <code>Typescript</code> on the <code>ExpressJs</code>. Easy to understand and easy to implement.</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
              </div>
              <div>
                <h2>Group</h2>
                <p>I know you will have a lot of questions, but don't worry only write it on the group.</p>
                <a target="_blank" href="https://www.facebook.com/groups/1035211943755436" class="btn btn-primary">
                  Go to group
                </a>
              </div>
            </div>
          </div>
        </div>
      
        <div class="b-example-divider"></div>
      </main>

    <% include("footer.ejs") %>
  </body>
</html>